body {
    background-color:rgb(121, 167, 27);
}

p {
    color: darkorange !important;
    font-size: xx-large;
    border: 1px solid yellow;
}

h4 {
    color:blue;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    font-size: 14px;
    background-color:yellow;
}

th {
    color:red;
}

mark {
    background-color: purple;
}