body{
    margin:0px;
    width:485px;
    height: 565px;
}

.metro {
    background-color: gainsboro;
    margin:15%;
}

.box {
    width: 100px;
    height: 100px;
    background-color: orange;
    display: flex;
    align-items: center;
    justify-content: center;
}

.door {
    height: 100px;
    width: 10px;  
    background-color: orange;
    display: flex;
    align-items: center;
    margin-right: auto
}

.first-seat-left{
    margin: 0px 0px 10px 10px;
}

.first-seat-right{
    margin: 0px 10px 10px 10px;
}

.second-seat-left{
    margin: 10px 30px 1px 10px;
}

.second-seat-right{
    margin: 10px 10px 1px 10px;
}

.third-seat-left {
    margin: 1px 30px 10px 10px;
}

.third-seat-right {
    margin: 1px 10px 10px 10px;
}

.door-right {
    margin-left: auto; 
    margin-right: 0;
    flex-direction: row-reverse;  
}

.door-left {
    margin-left: 0;
}

.bigcontainer {
    display: flex;
    justify-content: space-between;
}

.leftcolumn, .rightcolumn {
    display: flex;
    flex-direction: column;
}

.left-text{
    transform: rotate(-90deg);
}
.right-text{
    transform: rotate(90deg);
}