body {
    margin:0;
}
/* box model */
.container {
    background-color: violet;
    width:200px;
    height: 200px;
    /* padding-top: 20px;
    padding-left: 10px; */
    padding:10px 50px 30px 20px;
    outline:10px solid green;
    border:10px solid yellow;
}

.container > p {
   color:blue;
   font-size: 20pt;
   text-shadow:  13px -11px 3px #4d2222;
   transform: rotate(10deg);
   letter-spacing: 4px;
  
}

.content {
    width:auto;
    background-color: yellow;
    padding: 1em;
    text-align:center;
    color: crimson;
}

.content > a {
    font-size: 30px;
    color: green;

}
.menu {
    border-bottom: 3px solid blue;
    height: 30px;

}

.content > a:hover {
    color:blueviolet;
    text-decoration: none;
    padding:5px;
}

.menu > li {
    list-style-type: none;
    padding:10px;
    display: inline;
}

.menu > li:hover {
    color:black;
    background-color: white;
}
.main {
    text-align: center;
    padding: 1em;
}
.main > #user_records {
    margin: 0 auto;
    outline: 3px solid green;
}

th, td {
    border:1px solid black;
    padding: 0.3em;
    
}

th {
    background-color: pink;
    color:darkred;
}

#user_records > tbody > tr:hover  {
    background-color: darksalmon;
    color:blueviolet;
}

.boxcontainer {
    position: relative;
    z-index: 1;
}

.boxcontainer > div {
    width: 100px;
    height: 100px;
    color: whitesmoke;
    padding: 3px;
    position: absolute;
}

.box1 {
    background-color: red;
    left:10px;
    top:10px;
    transform:rotate(10deg);
}

.box2 {
    background-color: yellowgreen;
    left:20px;
    top:20px;
    transform:rotate(20deg);
    z-index:-3;
}

.box3 {
    background-color:cornflowerblue;
    left:30px;
    top:30px;
    transform:rotate(30deg);
    z-index:-2;
}

.box4 {
    background-color: hotpink;
    left: 40px;
    top:40px;
    transform:rotate(40deg);
    z-index:-1;
}

footer {
    background-color: blueviolet;
    padding: 1em;
    text-align: center;
    position:fixed;
    bottom:0;
    width:100%;

}