html, body {
    margin: 0;
    padding: 0;
    background-color: darkseagreen;
}

.container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap:5px;
}

@media all and (max-width:800px) and (min-width:400px) {
    .container{
        grid-template-columns: repeat(2,1fr);
    }
}


@media all and (max-width:400px) and (min-width:100px) {
    .container {
        grid-template-columns: repeat(1,1fr);
    }
}

.box {
    background-color: plum;
    color:black;
    font-size: 20pt;
    padding: 10px;
    text-align: center;

}